.btn-h1-spacing {
	margin-top: 18px;
}
.form-spacing-top{
	margin-top: 30px;
}

.well {background: rgb(254, 255, 255);


		height: 250px;
	

}


#fonts{

font-family: 'Mali', cursive;
		
}

#fonts1{

font-family: 'Mali', cursive;
font-size: 40px;

}